
/* font-family: 'Lato', sans-serif; */
 body{
    font-family: 'Lato', sans-serif;
    width: 1480px;
 }
 .container__menu{
    width: 1480px;
    height: 100px;
    background-image: url("../img/menu.png") ;
    padding: 0 155px;
 }
 header{
    width: 1480px;
    background-image: url("../img/header.jpg") ;
    display: block;
    border-bottom: 4px solid #4BCAFF ;
 }
 .header__nav{
    position: relative;
    display: flex;
    justify-content: space-between;
 }
 .logo img{
    padding-top: 16px;
 }
 .nav :last-child{
     margin-right: 0;
 }
.nav__item{
    font-size: 13px;
    font-family: "Droid Sans";
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    margin-right: 35px;
    text-decoration: none;
    margin-top: 40px;

}
.nav__item:hover{
   text-decoration: none;
   color: #4BCAFF;
}
.header__nav .active{
    color: #4BCAFF;
    font-weight: bold;

}
.header__title{
    position: relative;
    width: 1480px;
}
.header__title .img__carousel img{
    width: 620px;
    height: 620px;
    margin-top: 80px;
}
.header__title .header__bottom{
    border-style: solid;
    border-radius: 8px;
    background-color: rgba( 114, 179, 204, 0 );
    width: 196px;
    height: 65px;
    color: #fff;
    margin-bottom: 60px;
    margin-top: 45px;

}
.header__title .header__bottom:hover{
    border-radius: 8px;
    background-color: rgb( 75, 202, 255 );
    box-shadow: 0px 3px 0px 0px rgb( 39, 118, 151 );
    width: 196px;
    height: 65px;
    border-color: rgb( 75, 202, 255 );
}
.header__title .carousel-caption{
    top: 200px;
    left: 620px;
    text-align: left;
}
.header__title .span__border:hover{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb( 75, 202, 255 );
}
.header__title .carousel__title span{
    font-weight: 300;
}
.header__title .carousel__title {
    font-size: 48px;
    font-weight: 700;
}
.header__title .carousel__content{
    font-size: 18px;
    font-family: "Times New Roman";
    font-weight: 100;
}
.header__title .carousel-indicators li{
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: transparent;
    border: 1px solid white;
}
.header__title .carousel-indicators .active{
    background-color: #4BCAFF;
    border: 1px solid #4BCAFF;
}
.header__title .available__icon{   
    display: flex;
    justify-content: flex-start;
    font-size: 18px;
    font-family: "Times New Roman";
    font-weight: 100;
}
.header__title .available__icon i{
    margin-left: 20px;
    font-size: 30px; 
    margin-left: 13px;
    margin-top: 9px;
}

.header__title .available__icon div{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: rgb( 3, 3, 3 );
    margin-left: 18px;
    margin-top: -10px;
}
.header__title .available__icon div:hover{
    color: #4BCAFF
}
  /* ----------  features  ---------- */
.features{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb( 249, 249, 249 );

}
.features__title :first-child{
    font-size: 36px;
    font-family: "Times New Roman";
    color: rgb( 65, 64, 66 );
    text-align: left;
    margin-top: 60px;
    margin-bottom: 0;
}
.features__title :last-child{
    font-size: 20px;
    font-family: "Times New Roman";
    color: rgb( 65, 64, 66 );
  }
  .features__content{
    text-align: center;
    display: flex;
  }
  .features__items{
    width: 210px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 145px;
  }
  .features__items:hover :nth-child(2){
    color: #4BCAFF;

  }
  .features__items:last-child{
      margin-right: 0;
  }
  .features__icon{
    border-style: solid;
    border-width: 4px;
    border-color: rgb( 239, 239, 239 );
    border-radius: 50%;
    background-color: rgb( 75, 202, 255 );
    width: 166px;
    height: 166px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.features__icon:hover{
    background-color: rgb( 65, 64, 66 );
}
.features__icon img{
    width: 70px;
    height: 70px;
    max-width:100%;
    max-height:100%;
}
.icon__title{
    font-size: 15px;
    font-family: "Times New Roman";
    color: rgb( 65, 64, 66 );
    text-transform: uppercase;
    text-align: center;
    margin: 35px 0 30px;
    font-weight: 700;
}
.icon__content{
    font-size: 13px;
    font-family: "Lato";
    color: rgb( 131, 131, 131 );
    line-height: 1.692;
    font-weight: 400;
    margin-bottom: 80px;
}

  /* ---------- // features  ---------- */

  /* ---------- gallery  ---------- */
.gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
}

 .title_gallery{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 45px;
 }
.title_gallery :first-child{
    font-size: 36px;
    font-family: "Lato";
    font-weight: 400;
    color: rgb( 65, 64, 66 );
}
.title_gallery :last-child{
    font-size: 20px;
    font-family: "Lato";
    color: rgb( 65, 64, 66 );
    font-weight: 300;
}
.content_gallery{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.content_gallery :last-child{
    margin-right: 0;
}
.images__gallery{
    text-align: center;
    height: 200px;
    border-radius: 8px;
    background-color: rgb( 75, 202, 255 );
}
.images__gallery img{
    width: 100%
}
.images__gallery :hover{
    opacity: 0.4;
    cursor: cell;
}
.item__gallery{
    width: 270px;
    display: flex;
    height: 410px;
    margin-right: 30px;
    flex-direction: column;
}
.images__gallery:hover :last-child{
    font-size: 15px;
    font-family: "Lato";
    color: rgb( 75, 202, 255 );
    font-weight: 900;
}
.images__gallery p{
    z-index: 1;
    position: relative;
    top: -35px;
    margin-bottom: 0;
    font-size: 15px;
    font-family: "Lato";
    font-weight: 900;
}
.overlay__gallery{
    top: -45px;
    position: relative;
}
.overlay__gallery img{
    width: 270px;
}
.description__gallery{
    text-align: center;
    position: relative;
    top: -33px;
}
.description__gallery p{
    font-size: 13px;
    color: rgb( 131, 131, 131 );
    line-height: 1.692;
}


/* ---------- // gallery  ---------- */
/* ----------     video   ---------- */

.video{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb( 75, 202, 255 );
}
.bgc_img_video{
    position: absolute;
    background-image: url("../img/video_img.jpg") ;
    opacity: 0.6;
    width: 100%;
    height: 100%;
}
.icon__video__containner{
    border: 2px solid white;
    border-radius: 8px;
    background-color: rgba( 114, 179, 204, 0 );
    width: 116px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
    z-index: 1;
}
.title__video__containner{
    z-index: 1;
}
.icon__video{
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 30px solid white;
    border-bottom: 15px solid transparent;
}
.video__title{
    font-size: 48px;
    font-family: "Lato";
    color: rgb( 255, 255, 255 );
}
.video__title :first-child{
    font-weight: 10;
}
.video__title :last-child{
    font-weight: 900;
}
.video__content{
    font-size: 18px;
    font-family: "Lato";
    font-weight: 300;
    color: white;
}
.content__video__containner{
    text-align: center;
    width: 700px;
    margin-bottom: 135px;
    z-index: 1;
}
/* ----------  // video   ---------- */
/* ----------  price   ---------- */

.price{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.price__content{
    display: flex;
    width: 100%;
    justify-content: center;
}
.price__title{
    text-align: center;
}
.price__title :first-child{ 
    font-size: 36px;
    font-family: "Times New Roman";
    color: rgb( 65, 64, 66 );
    font-weight: 700;
    margin-top: 80px;
}
.price__title :last-child{
    font-size: 20px;
    font-family: "Times New Roman";
    color: rgb( 65, 64, 66 );
    font-weight: 300;
    margin-bottom: 100px;
}
.price__item__1{
    border-width: 1px;
    border: 3px solid  rgb( 218, 215, 215 );
    background-color: rgb( 249, 249, 249 );
    border-radius: 3px;
    text-align: center;
    width: 300px;
    margin-right: 30px;
    height: 100%;
    margin-top: 30px;
}
.price__item__1 .price__item__title{
    font-size: 17px;
    font-family: "Lato";
    color: rgb( 215, 215, 215 );
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 25px;
    font-weight: 100;
}
.price__item__1 div{
    background-color: rgb( 145, 196, 107 );
}
.price__item__1 .price__item__content{
    font-size: 18px;
    font-family: "Times New Roman";
    color: rgb( 215, 215, 215 );
    line-height: 2.222;
    margin: 0 65px;
}
.price__item__1 button{
    font-size: 15px;
    font-family: "Lato";
    color: rgb( 254, 254, 254 );
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid rgb( 145, 196, 107 );

    border-radius: 3px;
    background-color: rgb( 145, 196, 107 );
    width: 171px;
    height: 49px;
    margin-bottom: 20px;
}
.price__item__1 div p{
    font-size: 85px;
    font-family: "Droid Sans";
    color: rgb( 255, 255, 255 );
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0px 1px 2px rgb( 25, 22, 24 );
}
/* ----------- item 1 -------- */

.price__item__2{
    border-width: 1px;
    border: 3px solid  rgb( 218, 215, 215 );
    background-color: rgb( 249, 249, 249 );
    border-radius: 3px;
    text-align: center;
    margin-right: 30px;
    width: 374px;
    color:rgb( 75, 202, 255 ) ;
    margin-bottom: 70px;
}
.price__item__2 .price__item__title{
    font-size: 22px;
    font-family: "Times New Roman";
    color: rgb( 75, 202, 255 );
    text-transform: uppercase;
    line-height: 1.249;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 25px;
}
.price__item__2 div{
    background-color: rgb( 75, 202, 255 );
    height: 115px;
}
.price__item__2 .price__item__content{
    font-size: 18px;
    font-family: "Times New Roman";
    color: rgb( 75, 202, 255 );
    line-height: 2.222;
    margin: 0 100px;
    margin-bottom: 35px;
}
.price__item__2 button{
    font-size: 15px;
    font-family: "Lato";
    color: rgb( 254, 254, 254 );
    font-weight: bold;
    text-align: left;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid rgb( 75, 202, 255 );

    border-radius: 3px;
    background-color: rgb( 75, 202, 255 );
    width: 171px;
    height: 49px;
    margin-bottom: 20px;
}
.price__item__2 div p{
    font-size: 85px;
    font-family: "Droid Sans";
    color: rgb( 255, 255, 255 );
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0px 1px 2px rgb( 25, 22, 24 );
}
/* --------- item 2 ------------ */

.price__item__3{
    border-width: 1px;
    border: 3px solid  rgb( 218, 215, 215 );
    background-color: rgb( 249, 249, 249 );
    border-radius: 3px;
    text-align: center;
    width: 300px;
    height: 100%;
    margin-top: 30px;
}
.price__item__3 .price__item__title{
    font-size: 17px;
    font-family: "Lato";
    color: rgb( 215, 215, 215 );
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 25px;
    font-weight: 100;
}
.price__item__3 div{
    background-color: rgb( 253, 124, 0 );
}
.price__item__3 .price__item__content{
    font-size: 18px;
    font-family: "Times New Roman";
    color: rgb( 215, 215, 215 );
    line-height: 2.222;
    margin: 0 65px;
}
.price__item__3 button{
    font-size: 15px;
    font-family: "Lato";
    color: rgb( 254, 254, 254 );
    font-weight: bold;
    text-align: left;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid rgb( 253, 124, 0 );

    border-radius: 3px;
    background-color: rgb( 253, 124, 0 );
    width: 171px;
    height: 49px;
    margin-bottom: 20px;
}
.price__item__3 div p{
    font-size: 85px;
    font-family: "Droid Sans";
    color: rgb( 255, 255, 255 );
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0px 1px 2px rgb( 25, 22, 24 );
}
/* ---------- // price   ---------- */

/* ---------- Testimonials   ---------- */

.testimonials{
    border-top: 1px solid rgb( 231, 231, 231 );
    background-color: rgb( 249, 249, 249 );
}

.testimonials__title p{
    font-size: 36px;
    font-family: "Times New Roman";
    color: rgb( 65, 64, 66 );
    font-weight: 700;
    margin-bottom: 40px;
}
.testimonials__title{
    text-align: center;
}
.testimonials .testim__item__img__bg{
    background-image: url(../img/base.png)  ; 
    width: 165px;
    height: 190px;
    position: relative;
    left: 460px;
    margin-bottom: 105px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.testimonials .testim__item__img__bg img{
    width: 90px;
    height: 90px;
}
.testimonials .carousel-caption{
    text-align: left;
    width: 370px;
    left: 670px;
    height: 100%;
    padding-top: 60px;

    font-size: 14px;
    font-family: "Times New Roman";
    color: rgb( 75, 202, 255 );
    line-height: 1.286;
}
.testimonials .testim__item__author{
    text-align: right;
}
.testimonials .testim__item__author :last-child{
    margin-right: 35px;
}
.testimonials .content__author{
    width: 320px;
}
.testimonials .carousel-indicators li{
    background-color: rgb( 75, 202, 255 );
    opacity: 0.322;
    width: 50px;
    height: 6px;
}
.testimonials .carousel-indicators .active {
    background-color: rgb( 75, 202, 255 );
    width: 50px;
    height: 6px;
    opacity: 1;
}
/* ---------- // Testimonials   ---------- */
/* ----------    Download   ---------- */
.download{
    background-color: rgb( 65, 64, 66 );
    display: flex;
    flex-direction: column;
    align-items: center;
}
.download p{
    margin-top: 55px;
    font-size: 55px;
    font-family: "Times New Roman";
    color: rgb( 255, 255, 255 );
    text-shadow: 0.5px 0.866px 3px rgb( 25, 22, 24 );
    font-weight: 700;
}
.download button{
    font-size: 15px;
    font-family: "Lato";
    color: rgb( 65, 64, 66 );
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 35px;
    border: 1px solid rgb( 75, 202, 255 );

    border-radius: 8px;
    background-color: rgb( 75, 202, 255 );
    box-shadow: 0px 4px 0px 0px rgb( 39, 118, 151 );
    width: 196px;
    height: 61px;
}

/* ---------- // Download   ---------- */
/* ----------    Contact   ---------- */

.contact{
    height: 670px;
    background-image: url(../img/map.jpg);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact p{
    font-size: 36px;
    font-family: "Times New Roman";
    color: rgb( 255, 255, 255 );
    margin: 30px 0 10px 0;
}
.contact input {
    display: flex;
    flex-direction: column;
    text-align: center;

    background-color: rgb( 255, 255, 255 );
    box-shadow: 0px -1px 0px 0px rgb( 0, 0, 0 );
    width: 270px;
    height: 34px;

    font-size: 14px;
    font-family: "Arial";
    color: rgb( 211, 211, 211 );
    line-height: 2.743;
    margin-bottom: 15px;
}
.container__contact #message{
    background-color: rgb( 255, 255, 255 );
    box-shadow: 0px -1px 0px 0px rgb( 0, 0, 0 );
    width: 270px;
    height: 145px;
    text-align: center;
}
.contact .contact__border{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgba( 75, 202, 255, 0.8 );
    box-shadow: 0px 2px 10px 0px rgb( 0, 0, 0 );
    width: 324px;
}
.contact form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact button{
    font-size: 15px;
    font-family: "Lato";
    color: rgb( 114, 179, 204 );
    font-weight: bold;
    text-align: center;
    border: 1px solid  rgb( 65, 64, 66 );
    border-radius: 5px;
    text-shadow: 0px -1px 0px rgb( 0, 0, 0 );

    background-color: rgb( 65, 64, 66 );
    box-shadow: 0px 4px 0px 0px rgb( 49, 48, 50 );
    width: 190px;
    height: 45px;
    margin-top: 20px;
    margin-bottom: 15px;
      
}
/* ---------- // Contact   ---------- */
/* ----------    Footer   ---------- */
footer{
    background-color: rgb( 65, 64, 66 );
    height: 110px;
}
footer .footer__content{
    display: flex;
    justify-content: space-around;
    padding: 50px 0;

    font-size: 12px;
    font-family: "Times New Roman";
    color: rgba( 255, 255, 255, 0.251 );
}
footer .footer__content p{
    margin-bottom: 0;
}
/* ---------- // Footer   ---------- */